<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="乱想,Andy,Andy@乱想,想法,idea,创意,andy huang,{% for tg in page.tags %}{{tg}}, {% endfor %}">
  <meta name="description" content="Andy huang的个人网站，记录个人的乱想，启发大家的灵感">
  <title>{{page.title}} (Andy@乱想)</title> 
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

	<header><!-- header -->
		<h1><a href="#">Andy @ 乱想</a></h1>
		<h2>希望这是蝴蝶的翅膀，扇动大家的灵感.</h2>
	</header><!-- end of header -->
	
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Plans</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	
	<section id="main"><!-- #main content and sidebar area -->
			<section id="content"><!-- #content -->
			{{content}}
        	
        	<hr />
        	{% if page.date %}
		        Created: <em> {{ page.date | date_to_long_string }} </em>	{% endif %}
	        {% if page.updated %}
		        &nbsp;Last updated: <em> {{ page.updated | date_to_long_string }} </em>	{% endif %}	

			</section><!-- end of #content -->

		<aside id="sidebar"><!-- sidebar --> 
				<h3>To-Do:</h3>
				<ul class="nav-body">
					<li><a href="/idea.html"  title="Idea">想法</a></li>
					<li><a href="/solution.html" title="Solution">方案</a></li>
				</ul>
		
			<h3>Doing:</h3>
				<ul class="nav-body">
					<li><a href="/plan.html" title="Plan">计划</a></li>
					<li><a href="/schedule.html" title="Schedule">进度</a></li>
				</ul>
	
		<h3>Done:</h3>
			<ul class="body"> 
				<li><a href="/log.html" title="Log">活动记录</a></li>
			</ul>
			
		<h3>others:</h3>
			<ul class="body"> 
				<li><a href="/blog.html" title="Blog">博文</a></li>
			</ul>	
				

		</aside><!-- end of sidebar -->

	</section><!-- end of #main content and sidebar-->
	
		<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<!--  
									<li><a href="#">one linkylink</a></li> 
									-->
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside class="footer-segment">
							<h4>Useful links</h4>
								<ul>
									<!--  
									<li><a href="#">one linkylink</a></li>
									-->
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside class="footer-segment">
							<h4>Coolness</h4>
								<ul>
									<!--
									<li><a href="#">one linkylink</a></li>
									-->
								</ul>
					</aside><!-- end of #third footer segment -->
					
					<aside class="footer-segment">
							<h4>by Andy Huang</h4>
								<p>&copy; 2012 <a href="#">huangdong.org</a> </p>
					</aside><!-- end of #fourth footer segment -->

			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37528461-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</div><!-- #wrapper -->
</body>
</html>
